* {
  margin: 0;
}
body {
  background-color: #333333;
  color: white;
}
.textarea {
  width: 100%;
  font-size: 22px;
  padding: 20px;
  border-radius: 0px 20px;
}
.textarea:focus {
  box-shadow: 0px 0px 3px 3px royalblue;
}
#preview {
  padding: 40px;
  text-align: left;
  background-color: #8a16ad;
  color: blue;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1 px gray;
  border-radius: 20px 0px;
}
#preview code {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 0px;
  font-size: 12px;
  font-weight: bold;
}

#preview pre {
  background-color: #fff;
  padding: 10px;
}
